<!DOCTYPE html>
<html>
  <head>
    <title>Article 50 Petition Stats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
      .wrapper {
        margin: 3em 0;
      }

      .footer {
        border: 1px solid red;
        margin-top: 3em;
      }

      a i {
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="ui green inverted vertical segment">
    </div>
    <div class="wrapper">
      <div class="ui container">
        <%= yield %>
      </div>
    </div>
    <div class="ui green inverted vertical footer segment">
      <div class="ui center aligned container">
        <a href="https://github.com/lylo/petitionstats"><i class="github icon"></i></a>
        <a href="https://twitter.com/lylo"><i class="twitter icon"></i></a>
      </div>
    </div>
  </body>
</html>
