<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42693155-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-42693155-2');
    </script>

    <title>Article 50 Petition Stats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type="text/css">
      .wrapper {
        margin: 3em 0;
      }

      a i {
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="ui green inverted vertical segment">
    </div>
    <div class="wrapper">
      <div class="ui container">
        <%= yield %>
      </div>
    </div>
    <div class="ui green inverted vertical footer segment">
      <div class="ui center aligned container">
        <a href="https://github.com/lylo/petitionstats"><i class="github icon"></i></a>
        <a href="https://twitter.com/lylo"><i class="twitter icon"></i></a>
      </div>
    </div>
  </body>
</html>
